$black: #000000;
$charcoal: #535353;
$yellow: #ffe545;
$white: #ffffff;
$gray: #eaeaea;
$lightgray: #b3b3b3;
$red: #d8000c;
$red-alt: #ffbaba;
$mobile-width: 768px;
$desktop-width: 1440px;

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN.ttf');
}

@font-face {
  font-family: 'Soloist';
  src: url('../fonts/Soloist.ttf');
}

@mixin flex(
  $direction: row,
  $flex-wrap: nowrap,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DIN', sans-serif;
  color: $black;
  font-weight: 300;
  background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 0.3em 0.3em;
  background-color: #232323;
}

h1,
h2,
h3 {
  font-family: 'Soloist', sans-serif;
  font-weight: 100;
}

h4,
h5,
h6 {
  font-weight: 900;
}

input {
  font-family: 'DIN', sans-serif;
}

.flex-h-center {
  @include flex(row, nowrap, center, center);
}
