$black: #000000;
$charcoal: #535353;
$yellow: #ffe545;
$white: #ffffff;
$gray: #eaeaea;
$lightgray: #b3b3b3;
$red: #d8000c;
$red-alt: #ffbaba;

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN.ttf');
}

@font-face {
  font-family: 'Soloist';
  src: url('../fonts/Soloist.ttf');
}

@mixin flex(
  $direction: row,
  $flex-wrap: nowrap,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DIN', sans-serif;
  color: $black;
  font-weight: 300;
  // cursor: url('') auto;
}

h1,
h2,
h3 {
  font-family: 'Soloist', sans-serif;
  font-weight: 100;
}

h4,
h5,
h6 {
  font-weight: 900;
}

input {
  font-family: 'DIN', sans-serif;
}

.flex-h-center {
  @include flex(row, nowrap, center, center);
}

.text-center {
  text-align: center;
}

.w-100 {
  min-width: 100%;
}

.d-block {
  display: block;
}
