$black: #000000;
$charcoal: #535353;
$yellow: #ffe545;
$white: #ffffff;
$gray: #eaeaea;
$lightgray: #b3b3b3;
$darkgray: #232323;
$mobile-width: 768px;
$desktop-width: 1440px;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Soloist';
  src: url('../fonts/Soloist.ttf');
}

@mixin flex(
  $direction: row,
  $flex-wrap: nowrap,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-weight: 300;
  background-color: $darkgray;
}

h1,
h2,
h3 {
  font-family: 'Soloist', sans-serif;
  font-weight: 100;
}

h4,
h5,
h6 {
  font-weight: 900;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.flex-h-center {
  @include flex(row, nowrap, center, center);
}
