.hero-banner {
  background-image: url('../img/hero-banner.gif');
  min-height: 30vh;
  padding: 10px;
  color: $yellow;
  text-align: center;
  padding-bottom: 100px;
  .logo {
    display: block;
    margin-bottom: 50px;
  }
  .content {
    @include flex(column, nowrap, center, center);
    height: 100%;
  }
  @include mobile {
    .logo {
      margin: auto;
    }
  }
}

.search-bar {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: $charcoal;
  color: $white;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
}

.section-menu {
  @include flex(row, nowrap, space-around, center);
  padding: 30px 0;
  background-color: transparent;
  &-item {
    @include flex(column, nowrap, center, center);
    cursor: pointer;
    color: $white;
    img {
      width: 50px;
      transition: 200ms ease-in-out all;
      filter: grayscale(100%);
    }
    h3 {
      transition: 200ms ease-in-out all;
    }
    &.active {
      color: $yellow;
      img {
        transform: scale(1.5);
        filter: brightness(100%);
      }
    }
  }
  @include mobile {
    &-item {
      h3 {
        display: none;
      }
    }
  }
}

%card {
  @include flex(column, nowrap, center, center);
  box-shadow: 0px 16px 16px 0 rgba(49, 64, 70, 0.1);
  width: 250px;
  background-color: $black;
  background-image: url('../img/hero-banner.gif');
  color: $white;
  height: 400px;
  border-radius: 20px;
  position: relative;
  padding: 30px;
  text-align: center;
  margin: 10px;
  transition: 200ms ease all;
  * {
    margin: 0;
    padding: 0;
  }
  img {
    width: 150px;
    margin-bottom: 20px;
    filter: grayscale(50%);
    transition: 200ms ease all;
  }
  a {
    margin: 20px 0;
    color: $white;
    display: none;
    text-decoration: none;
    span {
      margin: 0 5px;
    }
  }
  p {
    font-size: 0.8rem;
  }
  &:hover {
    background-color: $yellow;
    background-image: none;
    color: $black;
    img {
      filter: grayscale(0%);
      transform: scale3d(1.2, 1.2, 1.2);
    }
    a {
      display: initial;
      color: $black;
    }
  }
  @include mobile {
    a {
      display: initial;
    }
  }
}

.character-card {
  @extend %card;
  background-color: $charcoal;
  background-image: none;
  img {
    width: 200px;
    border-radius: 50%;
    filter: grayscale(70%);
  }
  &:hover {
    img {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}

.starship-card,
.planet-card {
  @extend %card;
}

.profile-page {
  @include flex(column, nowrap, center);
  color: $yellow;
  min-height: calc(100vh - 40px);
  .header {
    @include flex(column, nowrap);
    background-image: url('../img/hero-banner.gif');
    padding: 20px;
    padding-bottom: 50px;
    img {
      width: 280px;
      border-radius: 50%;
      margin: auto;
    }
    .back {
      color: $yellow;
      text-decoration: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
    h1 {
      text-align: center;
    }
  }
  .body {
    @include flex(row, wrap, center);
    max-width: 800px;
    margin: auto;
    .feature {
      text-align: center;
      flex-grow: 1;
      flex-basis: 180px;
      margin: 10px;
      h4 {
        color: $white;
      }
    }
  }
}

.loader-container {
  @include flex(column, nowrap, center, center);
  min-height: 100%;
  color: $yellow;
  .loader {
    border: 20px solid darken($yellow, 5);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 1s loader linear infinite;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pagination {
  @include flex(row, nowrap, center, center);
  margin-bottom: 50px;
  color: $yellow;
  .pagination-info {
    margin: 10px;
  }
  .next-button,
  .prev-button {
    background-color: $yellow;
    color: $black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    transition: all 200ms cubic-bezier(0, 0, 0.21, 1.65);
    &:disabled {
      cursor: not-allowed;
      background-color: $gray;
      color: $charcoal;
    }
    &:disabled:hover {
      background-color: $gray;
      color: $charcoal;
    }
    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }
  .prev-button {
    border-right: none;
    border-radius: 12px 0 0 12px;
  }
  .next-button {
    border-radius: 0 12px 12px 0;
  }
}
