.hero-banner {
  background-image: url('../img/hero-banner.gif');
  min-height: 30vh;
  padding: 10px;
  color: $yellow;
  background-color: $black;
  text-align: center;
  .logo {
    display: block;
  }
  .content {
    @include flex(column, nowrap, center, center);
    height: 100%;
  }
}

.search-bar {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: $white;
  border: none;
  border-radius: 6px;
}

.section-menu {
  @include flex(row, nowrap, space-around, center);
  padding: 30px 0;
  background-color: $black;
  background-image: url('../img/hero-banner.gif');
  &-item {
    @include flex(column, nowrap, center, center);
    cursor: pointer;
    color: $white;
    img {
      width: 50px;
      transition: 1s ease-in-out all;
      filter: grayscale(100%);
    }
    h3 {
      transition: 300ms ease-in-out all;
    }
    &.active {
      color: $yellow;
      img {
        transform: scale(1.2);
        filter: brightness(100%);
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

.character-card {
  background-color: $gray;
  color: $charcoal;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin: 20px;
  @include flex(column, wrap, center, center);
  transition: 200ms ease all;
  text-align: center;
  * {
    margin: 0;
    padding: 0;
  }
  img {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    filter: grayscale(70%);
    transition: 200ms ease all;
  }
  &:hover {
    background-color: $yellow;
    color: $black;
    img {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}

.starship-card,
.planet-card {
  @include flex(column, nowrap, center, center);
  box-shadow: 0px 16px 16px 0 rgba(49, 64, 70, 0.1);
  width: 250px;
  background-color: $black;
  background-image: url('../img/hero-banner.gif');
  color: $white;
  height: 400px;
  border-radius: 20px;
  position: relative;
  padding: 30px;
  text-align: center;
  margin: 10px;
  transition: 200ms ease all;
  * {
    margin: 0;
    padding: 0;
  }
  img {
    width: 150px;
    margin-bottom: 20px;
    filter: grayscale(50%);
    transition: 200ms ease all;
  }
  p {
    font-size: 0.8rem;
  }
  &:hover {
    background-color: $yellow;
    background-image: none;
    color: $black;
    img {
      filter: grayscale(0%);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
}

.loader-container {
  @include flex(column, nowrap, center, center);
  min-height: 100%;
  .loader {
    border: 20px solid darken($yellow, 5);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 1s loader linear infinite;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pagination {
  @include flex(row, nowrap, center, center);
  margin-bottom: 50px;
  .pagination-info {
    margin: 10px;
  }
  .next-button,
  .prev-button {
    background-color: transparent;
    color: $charcoal;
    border: 1px solid $gray;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    transition: 200ms ease all;
    &:disabled {
      cursor: not-allowed;
      background-color: $gray;
    }
    &:disabled:hover {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .prev-button {
    border-right: none;
    border-radius: 12px 0 0 12px;
    &:hover {
      padding-right: 30px;
    }
  }
  .next-button {
    border-radius: 0 12px 12px 0;
    &:hover {
      padding-left: 30px;
    }
  }
}
