.hero-banner {
  background-image: url('../img/hero-banner.gif');
  min-height: 30vh;
  width: 100vw;
  padding: 10px;
  color: $yellow;
  background-color: $black;
  text-align: center;
  .logo {
    display: block;
  }
  .content {
    @include flex(column, nowrap, center, center);
    height: 100%;
  }
}

.search-bar {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: $white;
  border: none;
  border-radius: 6px;
}

.section-menu {
  @include flex(row, nowrap, space-around, center);
  padding: 30px 0;
  background-color: $black;
  background-image: url('../img/hero-banner.gif');
  &-item {
    @include flex(column, nowrap, center, center);
    cursor: pointer;
    color: $white;
    img {
      width: 50px;
      transition: 300ms ease-in-out all;
      filter: grayscale(100%);
    }
    h3 {
      transition: 300ms ease-in-out all;
    }
    &.active {
      color: $yellow;
      img {
        transform: scale(1.5) rotate(-1deg);
        filter: brightness(100%);
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

.character-card {
  background-color: lighten($gray, 5);
  width: 300px;
  height: 450px;
  border-radius: 10px;
  @include flex(column, nowrap, flex-start, stretch);
  transition: 200ms ease all;
  &-head {
    padding: 0;
    img {
      width: 200px;
      margin: auto;
      display: block;
      border-radius: 50%;
      position: relative;
      z-index: 1000;
      bottom: -50px;
      filter: grayscale(100%);
      transition: 200ms ease all;
    }
  }
  &-body {
    background-color: $yellow;
    text-align: center;
    border-radius: 30px 30px 10px 10px;
    padding: 20px;
    padding-top: 40px;
    height: 100%;
  }
  &:hover {
    box-shadow: 0px 16px 16px 0 rgba(49, 64, 70, 0.1);
    .character-card-head {
      img {
        filter: grayscale(0%);
        bottom: -30px;
      }
    }
  }
}
