.container {
  @include flex(column, wrap, flex-start);
  min-height: 100vh;
  max-width: 100vw;
}
.cards-container {
  @include flex(row, wrap, center, stretch);
  background-color: transparent;
  min-height: 100%;
  padding: 20px;
}

.not-found {
  @include flex(column, nowrap, center, center);
  height: 100vh;
  background-image: url('../img/hero-banner.gif');
  color: $yellow;
  h1 {
    font-size: 3rem;
  }
  h4 {
    color: $white;
  }
  a {
    color: $yellow;
    font-size: 1rem;
  }
}
